FRONTEND="http://localhost:5173"

LOG_DATASETS_PATH="/log-datasets"

# Log Dataset Files Direct Links
LOGFILES='["https://github.com/EdgeRunners-BrewingSec/log-datasets/releases/download/v1.0.0/sysmon.ndjson", "https://github.com/EdgeRunners-BrewingSec/log-datasets/releases/download/v1.0.0/web_access.ndjson", "https://github.com/EdgeRunners-BrewingSec/log-datasets/releases/download/v1.0.0/windows_security.ndjson"]'
